RewriteEngine On

RewriteBase /ecommerce/

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!public/).*)$ ./public/$1 [L,NC]


# A Flag [L] funciona como um break E faz regra do script 
# parar de ser de ser aplicada/executada


RewriteRule "^public/api$" "public/class/Api.php" [L]

RewriteRule "^public/dashboard-admin$" "public/dash-admin.php" [L]
RewriteRule "^public/admin-login$" "public/login-admin.php" [L]

RewriteRule "^public/Carrinho$"  "public/carrinho.php" [L]

RewriteRule "^public/registro$" "public/cadastro.php" [L]
RewriteRule "^public/login$" "public/login-user.php" [L]
RewriteRule "^public/dashboard$" "public/dash-user.php" [L]

RewriteRule "^public/produto/(\d)(/quantidade/([0-9]+))?$" "public/product.php?product_id=$1&quantidade=$3" [L]




