:root {
    --main-site-color: purple;
    --hover-color: yellow;/* usado para fazer hovers do site */
    --hover-text-color: black;
    --text-light: #fff;
    --text-dark:#000;

    /* dash-admin */
    --dash-admin-primary: #162447;
    --dash-admin-text-light: #fff;
    --dash-admin-text-dark: #000;

    /* dash-user */
    --dash-user-menu-top-bg: blue;
    --dash-user-hover-text: #fff;
    --dash-user-hover-bg: red;
  }